﻿@using PVIC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<br />
<br />
<div class="row">
    <div class="col-md-offset-0">
        <div class="form-group">
            <div class="col-md-offset-5">
                <h2>Log In</h2>
            </div>
        </div>
        <br />
        <br />
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-offset-3">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                                
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <br />                    
                    <p style="text-align:center">You must be logged in to ask a question, please register.</p>
                                       
                    <div class="form-group">
                        <div class="col-md-offset-5">
                            @Html.ActionLink("Register as a new user", "Register")
                        </div>
                    </div>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>

    </div>
    
</div>
<br />
<br />
<br />
<br />
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}