﻿@model PVIC.Models.Question

@{
    ViewBag.Title = "Ask your question";
}
<br />
<h3 style="text-align:center">@ViewBag.Title</h3>
<br />
<br />
<br />
<br />
<br />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            
            <div class="col-md-offset-3 col-md-10">
                @Html.LabelFor(model => model.QuestionPost, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.QuestionPost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QuestionPost, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
        <br />
        <br />
        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    
}
<br />
<br />

<h4 style="text-align:center">@Html.ActionLink("Back to Home", "Index", "Home")</h4>
<br />
<br />
<br />
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
