﻿@model PVIC.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
