﻿@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                FAQ
                <small>Frequently Asked Questions</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                What is a hard money loan?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
                        <div class="panel-body">
                            A hard money or private money loan is a type of equity-based financing through which a borrower receives
                            funds secured by improved real estate.  Hard money loans are typically issued by private investors or companies.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                What does a 65% of the after repaired value of improved real estate mean?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseTwo" style="height: 0px;">
                        <div class="panel-body">
                            Say if a property is worth $100,000, the lender would advance $65,000 - $70,000 against it. This low LTV 
                            (loan to value) provides added security for the lender, in case the borrower does not pay and they have to foreclose on the property.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                Does a private lender need any kind of special licenses?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseThree">
                        <div class="panel-body">
                            From inception, the hard money field has always been formally unregulated by state or federal laws, although some restrictions 
                            on interest rates (usury laws) by state governments restrict the rates of hard money such that operations in several states.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                Why would experienced real estate flippers pay such a high rate to borrow money?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseFour">
                        <div class="panel-body">
                            Real estate entrepreneurs need capital to purchase and renovate homes.  Most flippers are willing to pay the high interest 
                            rate, they consider using OPM (Other People’s Money) to make a profit for themselves as acceptable. 
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseFive" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                What documents are involved in a hard money loan?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseFive">
                        <div class="panel-body">
                            Normal loan documents required for a hard money loan include a Note and a Deed of Trust; other documentation
                             requirements do vary but may include a personal guarantee from borrower (sometimes non-recourse loans are issued without a personal guarantee).
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseSix" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                What are the advantages and disadvantages of investing in hard money loans?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseSix">
                        <div class="panel-body">
                            Advantages of investing in hard money loans include reliable cash flow (monthly distributions of interest) and risk mitigation, 
                            assuming deals are structured and underwritten conservatively.  Disadvantages can include a lack of liquidity and if the investor 
                            is unfamiliar with real estate investment and operations, loss of principal and/or the need for active management of non-performing loans.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseSeven" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                How many months is an average hard money loan for?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseSeven">
                        <div class="panel-body">
                            Typically write the notes from 3 months to 9 months depending on the Lender and your needs. Longer the term can lead to increased costs or interest rate.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseEight" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">                                
                                Will the loan include the costs of repairing and updating the property?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseEight">
                        <div class="panel-body">
                            Yes.  Most flippers will get money to repair and update a property through draws.  A “Draw Request” form will be filled out to 
                            identify the completed repairs to the property, copies of the invoices from the contractors or sub-contractors.  After work is 
                            inspected, draws can be dispersed. Typically work is not paid in advanced.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseNine" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                What is a “Proof of Funds Letter”?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseNine">
                        <div class="panel-body">
                            A proof of funds (POF) is a document or bank statement proving that a person has the financial ability to perform a transaction.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>