﻿
@{
    ViewBag.Title = "Caculator";
}

<h2 class="text-center">Caculate potential profits</h2>

<script language="JavaScript">

    function showpay() {

        if ((document.calc.loan.value == null || document.calc.loan.value <= 0) ||
     (document.calc.months.value == null || document.calc.months.value <= 0))
        {
            document.calc.pay.value = "Enter amount and # of months";
            document.calc.totalprofit.value = "Enter amount and # of months";
 }
 else
 {
 var princ = document.calc.loan.value;
 var term  = document.calc.months.value;
 var intr = .18;
 var totalprofit = (princ * intr / 12) * term;
 document.calc.pay.value = (princ * intr) / 12;
 document.calc.totalprofit.value = totalprofit;
}

}
</script>


<center>
    <form name=calc method=POST>


        <div class="form-group">
            <h3>Loan Amount</h3>
            <input type=text name=loan class="form-control">
        </div>

        <div class="form-group">
            <h3>Loan Length in Months</h3>
            <input type=text name=months class="form-control">
        </div>

        <div class="form-group">
            <h3>Monthly Profit</h3>
            <input type=text name=pay class="form-control">
        </div>

        <div class="form-group">
            <h3>Total Profit</h3>
            <input type=text name=totalprofit class="form-control">
        </div>

        <div class="row">
            <div class="form-group">
                <input type=button onClick='showpay()' value=Calculate class="btn btn-primary btn-lg">
                <input type=reset value=Reset class="btn btn-primary btn-lg">
            </div>
        </div>

    </form>
    <font size=1>
        Enter only numeric values (no commas), using decimal points
        where needed.<br>
        Non-numeric values will cause errors.
    </font>
</center>
