﻿@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Contact <small>We'd Love to Hear From You!</small></h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Contact</li>
            </ol>
        </div>
        <div class="col-lg-12">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            <iframe width="1200" scrolling="no" height="400" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCVgczJlQK8diJLZel0pWsoUtnftcfUAFA&q=3653+Regent+Blvd,+Jacksonville,+FL+32224&maptype=satellite&zoom=14" marginwidth="0" marginheight="0"></iframe>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-sm-8">
            <h3>Let's Get In Touch!</h3>
            
        </div>
        <div class="col-sm-4">
            <h3>Ponte Vedra Investment Club</h3>
            <h4>House Hunter Realty of Jacksonville, Inc</h4>
            <p>
                3653 Regent Blvd #504<br>
                Jacksonville, FL, 32224<br>
            </p>
            <p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: 904-412-9526</p>
            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a href="househunter.realty@att.net">househunter.realty@att.net</a></p>
            <p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-page"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class="tooltip-social linkedin-link"><a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-company-page"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li class="tooltip-social twitter-link"><a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li class="tooltip-social google-plus-link"><a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-page"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
            </ul>
        </div>
    </div><!-- /.row -->
</div>