﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Ponte Vedra Investment Club
            </h1>
            @*<ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Services</li>
            </ol>*@
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Photos/PVB.jpg" class="img-responsive" height="300" width="1200">
        </div>
    </div>
    <!-- /.row -->
    <!-- Service Paragraphs -->
    <div class="row">
        <div class="col-md-8">
            <h2 class="page-header">Earn 18% Interest on Your Investment</h2>
            <p>Provide simple interest short term loans to experienced real estate entrepreneurs who flip houses and receive a high return on your investement 
            with no work on your part.</p>
        </div>
        <div class="col-md-4">
            <h2 class="page-header">Low Risk Investment</h2>
            <p>Your investment is secured by a mortgage on 65% of the after repaired value of improved real estate.  </p>
            @*<a href="#" class="btn btn-primary">Click Me!</a>*@
        </div>
    </div>
    <!-- /.row -->
    <!-- Service Tabs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Premier Services Provided</h2>
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#service-one">Mortgage Security</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#service-two">Full Appraisal Evaluation</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#service-three">Property Inspection</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#service-four">Contractor Information</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#service-five">Receiving Payments</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div id="service-one" class="tab-pane fade in active">
                    <i class="fa fa-gear pull-left fa-4x"></i>
                    <br />
                    <p>You will have the security of a first lien mortgage place on each property you money loaned on.  The mortgage will be signed at the closing of the property and then recorded at the county court house.</p>
                    <p>All mortgages will be written and approved by a real estate attorney or title company of your choice.  Title insurance and fund dispersement is generally processed by the seller's title company.</p>
                </div>
                <div id="service-two" class="tab-pane fade">
                    <i class="fa fa-gears pull-left fa-4x"></i>
                    <br />
                    <p>A fully documented Comparative Market Analysis by a licensed real estate broker will be delivered to you for full analysis before any written contracts are made.</p>
                    <p>To determine a market value five sold comparables from the subject's neighborhood will be used.  An examination of market trends affecting values within the subject's area will be conducted.</p>
                </div>
                <div id="service-three" class="tab-pane fade">
                    <i class="fa fa-magic pull-left fa-4x"></i>
                    <br />
                    <p>The subject property will be fully inspected by a licensed and experienced contractor to determine all needed repairs and upgrades needed to make the property attractive to buyers in the current market.</p>
                    <p>A fully documented home inspection will be delivered to you outlining all information about the property with photos of all rooms and mechanical components of the property.</p>
                </div>
                <div id="service-four" class="tab-pane fade">
                    <i class="fa fa-flask pull-left fa-4x"></i>
                    <br />
                    <p>The general contractor chosen to preform repairs and upgrades to the property will provide a fully disclosed repair bid and outline of time needed for repairs.</p>
                    <p>The property will have all necessary permits for construction according to local laws and codes.  The contractor will provide a detailed breakdown of the time needed to complete repairs.</p>
                </div>
                <div id="service-five" class="tab-pane fade">
                    <i class="fa fa-flag pull-left fa-4x"></i>
                    <br />
                    <p>Interest payments will be delivered by mail or can be sent electronically directly into you chosen account with proper permissions set up by your bank.</p>
                    <p>All money will be handled by a licensed real estate broker.  When the property is sold, the full loan amount will wired into chosen account by a real estate closing attorney or title company.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Service Images -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Make Large ROI</h2>
        </div>
        <div class="col-sm-4">
            <img src="~/Photos/MLS.jpg" class="img-responsive">
            <h3>Values Fully Researched</h3>
            <p>Values are intensely queried using RealtyWeb.net.  All market analysis forms are easy to read and understand.</p>
            @*<a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>*@
        </div>
        <div class="col-sm-4">
            <img src="~/Photos/mortage_documents.jpg" class="img-responsive">
            <h3>Invested Money is Fully Secured</h3>
            <p>Your loan does not exceed 65% of the market value of the property.  The mortgage placed on the property is a security instrument for you investment.</p>
            @*<a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>*@
        </div>
        <div class="col-sm-4">
            <img src="~/Photos/real_estate_contract.jpg" class="img-responsive">
            <h3>All Agreements Fully Documented</h3>
            <p>Sales contract, appraisal, home inspection, general contractor repairs, and timelines are agreed upon and are secured by legal documents.</p>
            @*<a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>*@
        </div>
    </div>
    <!-- /.row -->
</div>
